footer{
	padding-top:3%;
	background-color:#f1f1f1;
	ul{
		list-style:none;

		li{
			
			padding:4%;
		}
	}
}

.piepagina{
	padding:1% 0;
	color:white;
	background-color:#444444;
	span{
		background-color:#ff7572;
	}
}
.float-left{
	float:left;

}
.float-right{
	float:right;
}