.float-left {
  float: left; }

.float-right {
  float: right;
  text-align: left; }
  .float-right .informacion {
    padding-left: 10%; }

.btn {
  background-color: #ff7572;
  padding: 1%;
  color: white; }

a {
  color: #bbbbbb; }

.nav > li > a:hover, .nav > li > a:focus, .nav > li.active {
  text-decoration: none;
  background-color: rgba(255, 117, 114, 0.83);
  color: white;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px; }

.navbar-brand {
  font-family: "Raleway";
  font-size: 30px;
  color: black;
  padding-top: 2%; }

.tipografia h3, .about h3, .team h3, .tipografia h1, .about h1, .team h1, .tipografia h2, .about h2, .team h2, .tipografia h4, .about h4, .team h4, .tipografia h5, .about h5, .team h5, .tipografia h6, .about h6, .team h6 {
  font-family: "Raleway"; }
.tipografia p, .about p, .team p {
  font-family: "Sans-Serif";
  font-style: italic; }

.text-pink {
  color: #ff7572; }

.margin-auto {
  margin: auto; }

.about img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: #f1f1f1 solid;
  margin-top: 10px; }

.team {
  background-color: #f7f7f7; }
  .team img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .team ul li {
    background: black;
    color: white;
    padding: 4%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

.contact {
  background-color: #222222;
  color: white; }

form textarea.form-control {
  height: 9em; }

.about {
  margin: auto;
  text-align: center; }
  .about .adicional {
    text-align: center;
    margin-left: 36em; }
    .about .adicional p {
      background-color: #fed136;
      color: white;
      border: 4px solid #f5f5f5;
      border-radius: 50%;
      text-align: center;
      margin-top: 10px;
      padding: 29%;
      font-style: normal;
      font-family: "Montserrat"; }

header .col-md-4 .col-md-2 i {
  font-size: 50px; }
header .search span {
  position: relative;
  left: 23em;
  bottom: 2em; }

.navbar-nav {
  padding-top: 0.6%; }

.cabecera {
  background-color: #f1f1f1;
  padding: 0;
  margin-top: 1%;
  color: black;
  font-family: Sans-serif; }
  .cabecera ul a {
    color: black; }
  .cabecera .navbar-right .coche {
    background-color: black;
    color: white; }
    .cabecera .navbar-right .coche .fa-shopping-cart {
      font-size: 20px; }

.cabecera .navbar {
  margin-bottom: 0; }

.autum {
  background: url("../images/slider1.jpg") no-repeat center center fixed;
  height: 30em;
  background-size: cover;
  width: 100%;
  margin-bottom: 1%;
  margin-top: 0; }

.presentation .col-md-5 .accesories {
  background: url("../images/banner1.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 300px; }
.presentation .col-md-7 .newarrival {
  background: url("../images/banner2.jpg") no-repeat center center;
  background-size: cover;
  height: 300px;
  width: 100%; }

.fotos img {
  width: 100%; }

.pagination {
  color: black;
  font-size: 24px;
  font-family: "Raleway"; }
  .pagination .active {
    color: #ff7572; }

.marcas {
  background: url("../images/client-bg.jpg") no-repeat center center fixed;
  height: 20em;
  background-size: cover;
  width: 100%;
  margin-bottom: 1%;
  margin-top: 0; }
  .marcas div {
    text-align: center;
    display: inline-block;
    padding-top: 2%; }
    .marcas div img {
      width: 100%; }

.clothing .col-md-4 {
  margin-bottom: 2%; }
  .clothing .col-md-4 img {
    width: 100%; }

.blog img {
  width: 100%; }
.blog span {
  color: #ff7572; }

.details {
  padding: 1% 0; }
  .details .col-md-4 {
    height: 80px;
    border: 1px solid #f2f2f2; }

footer .social .fa {
  background-color: black;
  color: white;
  padding: 2%;
  font-size: 15px;
  margin: 3px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

footer {
  padding-top: 3%;
  background-color: #f1f1f1; }
  footer ul {
    list-style: none; }
    footer ul li {
      padding: 4%; }

.piepagina {
  padding: 1% 0;
  color: white;
  background-color: #444444; }
  .piepagina span {
    background-color: #ff7572; }

.float-left {
  float: left; }

.float-right {
  float: right; }

/*# sourceMappingURL=main.css.map */
