section.cabecera
	nav.navbar(role="navigation")
			.container
				.navbar-header
					button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				#navbar-inverse.collapse.navbar-collapse
					ul.nav.navbar-nav
						li.active: a( href="index.html") HOME
						li: a( href="contact.html") CONTACT US
					.navbar-right
						.coche.col-md-9.text-center
							.col-md-4
								span.fa.fa-shopping-cart
							.col-md-8
								h5 My cart
							.col-md-12
								p item(s)-$244.00	
