doctype html
html( lang="en" )
	head
		title agencytheme
		meta(charset='utf-8' )
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel="stylesheet", href="assets/css/bootstrap.css")
		link(rel="stylesheet", href="assets/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Montserrat', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css')
		link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300', type='text/css')
		link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Droid+Serif:700italic,400italic,400,700', type='text/css')
		link(rel="stylesheet", href="assets/css/main.css")
		link(rel="stylesheet",href="assets/css/contact.css")
	body(style="padding-bottom:6rem;")
		include variables
		include mixins
		include navegador
		include header
		include cabecera

	section.contact
		.container
			.col-md-8
				h1 CONTACT US
			.col-md-4
				h4 Contact info
				p phone: 0(1234)567890
				p Mail: Inform@roadthemes.com
				p Address: No 40 Baria Screet 133/2 NewYork City.NY.United States


	section.formulario
			.row
				.col-md-6
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12106.142649102707!2d-73.96068860861747!3d40.66216495891431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b6a115ce57b%3A0xc1ea690586812456!2sProspect-Lefferts+Gardens%2C+Brooklyn%2C+Nueva+York%2C+EE.+UU.!5e0!3m2!1ses!2spe!4v1459360878054" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)

				.col-md-6script(src="../assets/js/bootstrap.min.js")
					form
						.col-md-6
							.col-md-6
								+input("First name")
							.col-md-6
								+input("Last name")
							.col-md-6
								+input("Email")
							.col-md-6
								+input("Website")
							+input("Subject")
						.col-md-6
							+textoarea(Message)
						.btn SEND
		include footer
		include piepagina

		script(src="../assets/js/bootstrap.min.js")
		script(src="../assets/js/jquery.min.js")





