footer
	.container
		.col-md-3.social
			h4 ACCESSORIES
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia facere officiis repellendus et sed sit veniam nulla tenetur.
			span.fa.fa-facebook
			span.fa.fa-twitter
			span.fa.fa-google-wallet
			span.fa.fa-skype
			span.fa.fa-empire
		+topics("MY ACCOUNT")
		+topics("INFORMATION")
		+topics("EXTRAS")
		.col-md-3
			h4 ABOUT US
			.col-md-12
				.col-md-2
					span.fa.fa-map-marker
				.col-md-10
					p 8901 Marmora Roas Glasgow DO4 89
					p GR, New York
			.col-md-12
				.col-md-2
					span.fa.fa-phone
				.col-md-10
					p (0123)456789
					p (0987)654321
			.col-md-12
				.col-md-2
					span.fa.fa-envelope
				.col-md-10
					p admin@bootexperts.com

