header
	.container
		.col-md-4
			.col-md-2
				i.fa.fa-clock-o 
			.col-md-10
				p OPENING TIME
				p 9:00 AM-10:00 PM
		.col-md-4
			img(src="assets/images/logo.png") 
		.col-md-4.search
			input.form-control(
				type="text"
				placeholder="search"
			)
			span.fa.fa-search