section.piepagina
	.container
		.col-md-6.float-left
			p Copyright <i class="fa fa-copyright"> </i>2015
				span BootEXPERTS
				span All rights reserved
		.col-md-6.float-right
			img(src="assets/images/payment.png")